<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}} | Pint</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//brick.freetls.fastly.net/Telex:400,700/Aleo:400,700">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-med">
                    <a href="/"><h1>Pint</h1></a>
                    <hr>
                </div>
            </div>
            {{#if messages}}
                {{#each messages}}
                    <div class="row">
                        <div class="col-sm">
                            <h3><li><u>{{this}}</u></li></h3>
                        </div>
                    </div>
                {{/each}}
            {{/if}}
            <!-- Just load everything else lol I love moustache -->
            {{{body}}}
            {{#user}}
                <div class="row">
                    <div class="col-med">
                        <footer>
                            <hr>
                            <a href="logout">logout</a>
                        </footer>
                    </div>
                </div>
            {{/user}}
        </div>
    </body>
</html>