<div class="row">
    <div class="col-md">
        <h2>Welcome, <a href="/@{{user.username}}">{{user.username}}</a></h2>
    </div>
    <div class="col-md">
        <h3>Profiles</h3>
        <ul>
            {{#users}}
                <a href="/@{{this.username}}"><li>{{this.username}}</a></li>
            {{/users}}
        </ul>
    </div>
</div>