<div class="row">
    <div class="col-med">
        <h2>Looking to log in?</h2>
    </div>
</div>
<div class="row">
    <div class="col-med">
        <form action="/login" method="POST">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" name="username" class="form-control" placeholder="username">
            </div>
            <div class="input-group mb-3">
                <input type="password" name="password" class="form-control" placeholder="********">
            </div>
            <div class="input-group-mb-3">
                <input type="submit" class="btn btn-light" value="Login">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-med">
        <hr>
        <h4>Or <a href="/register">register</a> if you haven't already</h4>
    </div>
</div>