<div class="row">
    <div class="col-sm-6">
        <p>Planning and scheduling with friends and family is a huge pain, at least for me.
        Why not just throw everyone's schedules online so we can plan easier?</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <p>Pint works by syncing your events with friends, allowing your schedule to become
        public to whoever you'd like. You can choose your level of privacy, so your availability can 
        display your current whereabouts, or just that you're busy.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <p>You can sync your calendars with Pint, or just create events through the app. Booking events with friends is
        simple, quick, and sends events as push notifications instantly so you can plan your day without waiting around.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <p>The overall goal I'm trying to succeed by creating Pint is better organization of my schedule with little events.
            I want to have the majority of what I do documented, both for my own ease of use and just because I'm weird and like having
            everything I do recorded.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <p>Hopefully I've sold you by now.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <a href="/register"><button type="button" class="btn btn-light">Register</button></a>
        <a href="/login"><button type="button" class="btn btn-light">Log in</button></a>
    </div>
</div>