$primary-color: #eee;
$secondary-color: #80B3FF;

// <link rel="stylesheet" href="//brick.freetls.fastly.net/Telex:400,700/Aleo:400,700">
$primary-font: "Telex", "Helvetica", sans-serif;
$secondary-font: "Aleo", sans-serif;